/* Layout for the page */
.main-layout {
  display: flex;
  height: 100vh;
}

.report-content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin-left: 250px; /* Offset to make room for Sidebar */
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.statistics {
  margin-bottom: 30px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
}

.charts {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.export-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.export-btn:hover {
  background-color: #45a049;
}
